/* asideIndex css */	
	#aside .asideBox{
		width: 1140px;
		margin: 0 auto;
	}
	#aside .slideTab{
		width: 160px;
		height: 260px;
		background: #fff;
		margin-top: 30px;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border:1px solid #ccc;
		
	}
	#aside .userCenter{
		width: 160px;
		height: 50px;
		background:red;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		text-align: center;
		line-height: 50px;
		color: #fff;
	}
	#aside .userTab{
		padding: 0;
	}
	#aside .userTab li{
		list-style: none;
		/*width: 159px;*/
		height: 40px;
		text-align: center!important;
		line-height: 40px;
	}
	#aside .userTab > li:hover,.active {
		color: #32beff; 
		cursor: pointer;
	}
	#aside .userTab > li:focus {
		color:#32beff;
	}
	#aside .userCenter {
		font-size: 20px;
		background: url('../images/userCenter/userCenter.png');
	}
	#aside .active {
		color: #32beff;
	}


/* myOrderIndex css */
	#myOrder .glyphicon{
		cursor: pointer;
	}
	#myOrder .navbar-static-top{
		position: relative;
		width:1170px;
		margin: 0 auto;
		top: -260px;
	}
	#myOrder .myOrderBox{
		background: #4e595f;
		width: 940px;
		height: 40px;
		top: 0px;
		position: absolute;
		left: 180px;
		padding: 0;
		border-radius: 4px;
	}
	#myOrder .myOrderList{margin-bottom:10px;}
	#myOrder .myOrderUl{margin:0;padding: 0;}
	#myOrder .myOrderUl li:nth-child(1){
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	#myOrder .myOrderUl li{
		width: 100px;
		height: 40px;
		line-height: 40px; 
		color: #fff;
		cursor: pointer;		
		text-align: center;
		margin: 0;
		padding: 0;
	}
	#myOrder .myOrderUl li:hover{background: #33beff;}
	#myOrder .myOrderActive{background: #33beff;}
	#myOrder .searchBox{
		width: 300px;
		height: 40px;
		float: right;
	}
	#myOrder .searchBox input{
		width: 0px;
		height: 26px;
		border:none;
		border-radius: 10px;
		margin-top: 7px;
		padding-left: 10px;
		outline:none;	
		float: right;
		margin-right: 20px;	
	}
	#myOrder .searchBox img{
		cursor: pointer;
		position: absolute;
		right: 12px;
		top: 5px;
	}
	#myOrder .myOrderBody{
		width: 940px;
		height: auto;
		position: absolute;
		top: 50px;		
		left: 180px;
		padding: 0;
		border-radius: 4px;
		
	}
	#myOrder .myOrderHead{
		width:940px;
		height: 134px;
		border:1px solid #dcf0f9;
	}
	#myOrder .myOrderSucc{
		border:1px solid #faecdc;
	}
	#myOrder .myOrderDone{
		border:1px solid #ebebeb;
	}
	#myOrder .myOrderId{
		width: inherit;
		height: 40px;
		background: #dcf0f9;
		line-height: 40px;
	}
	#myOrder .myOrderHead .orderSucc{
		background: #fcf2e6;
	}
	#myOrder .myOrderHead .orderDone{
		background: #f2f2f2;
	}
	#myOrder .myOrderId p{
		float: left;
		margin-left: 20px;
		margin-bottom: 0px;
	}
	#myOrder .myOrderDetail ul li:nth-child(1){
		width: 27%;
	}
	#myOrder .myOrderDetail{
		clear: both;
		width: 940px;
		height:94px;
		padding: 0;
		margin: 0;
	}
	#myOrder .myOrderDetail > ul > li{
		margin:0;
		padding:0;
		float: left;
		list-style: none;
		height: 93px;
		border-right: 1px solid #dcf0f9;
		text-align: center;
		line-height: 94px;
	}
	#myOrder .myOrderDetail > ul .Succ{
		border-right:1px solid #faecdc;
	}
	#myOrder .myOrderDetail > ul .Done{
		border-right :1px solid #ebebeb;
	}	
	#myOrder .myOrderDetail > ul > li:nth-child(1){
		width: 258px;
		text-align: left;
		line-height: 0px;
	}
	#myOrder .myOrderDetail > ul > li:nth-child(1) img{
		width: 60px;
		height: 60px;
		border:1px solid #ccc;
		float: left;
		margin: 17px 0 0 20px;
		margin-right: 10px;
	}
	#myOrder .myOrderDetail > ul > li:nth-child(2),.myOrderDetail ul li:nth-child(3),.myOrderDetail ul li:nth-child(4){
		width: 147px;
	}
	#myOrder .myOrderDetail > ul > li:nth-child(3){
		padding-top: 40px;
	}
	.myOrderDetail > ul > li:nth-child(3) p{
		line-height: 10px;
	}
	#myOrder .myOrderDetail > ul > li:nth-child(5){
		width: 240px;
	}
	#myOrder .myOrderDetail > ul{
		margin:0;
		padding:0;
	}
	#myOrder p.UserName{
		margin-top: 20px;
		line-height: 16px;
	}
	#myOrder .queren{
		padding: 6px 24px;
		outline: none;
	}
	#myOrder .myOrderContent{
		background: #f5f5f5;
		padding: 15px;
	}
	#myOrder .myOrderContent p:nth-child(2){
		color: #999999;
		line-height: 24px;
	}
	#myOrder .myOrderContent img{
		width: 58px;
		height: 58px;
		border:1px solid #dcdcde;
		margin-right: 10px;
	}
	#myOrder .ngdialog.ngdialog-theme-default .ngdialog-content{
		line-height: 390px;
		width: 560px;
		opacity: 0.5px!important;
		 background: rgba(255,255,255,0.5);
	}
	html.ngdialog-open,
	body.ngdialog-open {
	  overflow:visible ;
	}


/* headerIndex css */
	#header .topbar {
		border-bottom: 1px solid #ccc;
	}	
	#header .topbar-box {
		width: 1100px;
		height: 88px;
		margin:0 auto;
	}
	#header .logo {
		vertical-align: top;
	}
	#header .nav-header {
		display: inline-block;
	}
	#header .nav-header > li{
		/*height: inherit;*/
		text-align: center;
		margin-left: 50px;
		float: left;
	}
	#header .nav-header > li > a{
		height: inherit;
		font-size: 18px;
		outline: none;
		color: #666;
	}
	#header .nav-header > li > a:focus,
	#header .nav-header > li > a:hover,
	#header .active{		
		color: #19b6ff!important;
		background-color: #fff;
	}
	#header .dropdown{
		float:right;
		margin-top:33px;
		cursor: pointer;
	}
	#header .open > .dropdown-menu{
		left: -30px;
		background: url('../images/headerImg/dropdownBg.png') no-repeat;
		background-position: top -1px left -4px;
		background-size: 104% 102%;
		border:none;
		padding-top: 15px;
	}
	#header .dropdown-menu {
		z-index:10000;
	}
	#header .dropdown-menu li{
		height: 35px;
	}
	#header .headPic{
		float:right;
		margin-top:20px;
		margin-right:10px;
	}


/* loveIndex css */
	html.ngdialog-open,
		body.ngdialog-open {
		  overflow:visible ;
	}
	.glyphicon{
		cursor: pointer;
	}
	#love .navbar-static-top{
		position: relative;
		width:1170px;
		margin: 0 auto;
		top: -260px;
	}
	#love .myOrderBox{
		background: #4e595f;
		width: 940px;
		height: 40px;
		top: 0px;
		position: absolute;
		left: 180px;
		padding: 0;p[]
		border-radius: 4px;
	}
	#love .myOrderList{margin-bottom:10px;}
	#love .myOrderUl{margin:0;padding: 0;}
	#love .myOrderUl li:nth-child(1){
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	#love .myOrderUl li{
		width: 100px;
		height: 40px;
		line-height: 40px; 
		color: #fff;
		cursor: pointer;		
		text-align: center;
		margin: 0;
		padding: 0;
	}
	#love .myOrderUl li:hover{background: #33beff;}
	#love .myOrderActive{background: #33beff;}
	#love .searchBox{
		width: 300px;
		height: 40px;
		float: right;
	}
	#love .searchBox input{
		width: 260px;
		height: 26px;
		border:none;
		border-radius: 10px;
		margin-top: 7px;
		padding-left: 10px;
		outline:none;	
		float: right;
		margin-right: 20px;	
	}
	#love .searchBox img{
		cursor: pointer;
		position: absolute;
		right: 12px;
		top: 5px;
	}
	#love .myOrderBody{
		width: 940px;
		height: auto;
		position: absolute;
		top: 50px;		
		left: 190px;
		padding: 0;
		border-radius: 4px;
		
	}
	#love .myOrderHead{
		width:940px;
		height: 134px;
		border:1px solid #dcf0f9;
	}
	#love .cen{margin: 0 auto;}
	#love .fl{float: left;}
	#love .fr{float: right;}
	#love .headerBox{width: 100%;height: 210px;border:1px solid #ccc;}
	#love .headerPic{width: 90px;height: 90px;border:1px solid #ccc;margin-top: 20px;margin-bottom: 20px;margin-left: 10px;}
	#love .headerPic img{width: 100%;height: 100%;}
	#love .headerDetail{width: 828px;height: 90px;margin:20px 0 0 10px;}
	#love .userNameBox{width: 100%;}
	#love p.userName{font-size: 18px;color: #424242;font-weight: bold;margin-right: 20px;}
	#love p.userInfo{border-right:1px solid #999;color: #999;font-size: 12px;padding: 0 10px;margin-top: 3px;}
	#love .headerbottom{width: 97%;height: 79px;border-top:1px dashed #ccc;margin-left:10px; }
	#love .workerService{width: 100%;}
	#love .workerService_l{padding-right: 25px;}
	#love p.serviceItem{color: #808080;margin-bottom: 12px!important;font-size: 12px;}
	#love p.pingfen span{padding:0 10px 0 2px;vertical-align: -2px;color: #999;}
	#love .workerService_r{padding-left: 50px;}
	#love p.rankBox{color: #808080;font-size: 12px;}
	#love p.rankBox span{}
	#love p.rankBox img{margin: 0 2px 0 8px;vertical-align: 0px;}	
	#love .buttonBox{width: 300px;height:55px;}
	#love .buttonBox button{width: 102px;height: 36px;color: #fff;background: #32beff;border:none;border-radius: 4px;margin-left: 50px;outline: none;}
	#love p.prince{font-size: 16px;color: #ff8800;margin-left: 40px;}
	#love p.prince span{font-size: 22px;}
	#love .buttonBox p:nth-child(3){font-size:12px;color:#999;margin-left: 78px;margin-top: 8px;}
	#love .headerbottom div{float: left;width: 33%;text-align: center;height: 50px;line-height: 50px;margin-top: 15px;border-right: 1px solid #ccc;}
	#love .headerbottom div p{color: #999;}
	#love .headerbottom div p span{color: #424242;}


/* manageIndex css */
#manage .navbar-static-top{
	position: relative;
	width:1170px;
	margin: 0 auto;
	top: -260px;
}
	.glyphicon{
		cursor: pointer;
	}
	#manage .myManage{
		width: 940px;
		height: 114px;
		top: 0px;
		position: absolute;
		left: 180px;
		padding: 0;
		border-radius: 4px;
		border:1px solid #ccc;
	}
	#manage .yue{
		color:#999;
		margin: 18px 0 0 20px;
	}
	#manage .money{
		font-size: 30px;
		color: #19b6ff;
		margin: 12px 0 0 20px;
	}
	#manage .money span{
		font-size: 16px;
		color:#999;
	}
	#manage .btnCharge{
		border:none;
		width: 102px;
		height: 36px;
		background: #ff8903;
		color: #fff;
		border-radius: 4px;
		text-align: center;
		line-height: 36px;
		font-size: 16px;
		margin-left: 50px;
		vertical-align: text-bottom;
		outline: none;
	}
	#manage .myManageBody{
		width: 940px;
		height: auto;
		position: absolute;
		top: 120px;		
		left: 180px;
		padding: 0;
		border-radius: 4px;		
	}
	.ngdialog.ngdialog-theme-default .ngdialog-content{
		line-height: 390px;
		width: 560px;
		opacity: 0.5px!important;
		 background: rgba(255,255,255,0.5);
	}
	#manage .myManageTab{
		border-bottom:1px solid #32beff;
		height: 38px;
	}
	#manage .manageUl{
		margin: 0;
		padding:0;
		list-style: none;

	}
	#manage .manageUl li{
		float: left;
		border:1px solid #ccc;
		width: 126px;
		height: 38px;
		text-align: center;
		line-height: 38px;
		margin-right: 6px;
		cursor: pointer;
		margin-bottom: -1px;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		 background: -webkit-linear-gradient(#f2f2f2, #fff); 
	}
	#manage .active1{
		border: 1px solid #32beff!important;
		border-bottom: 1px solid #ccc!important;
		color: #32beff;
	}
	#manage .timeBox{
		width: 100%;
		height: 80px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
	#manage .timeBox p{
		float: left;
		margin-top: 23px;
		margin-left: 20px;
	}
	#manage input[type="date"],.Wdate{
	 	width: 130px;
	 	height: 30px;
	 	padding-left:5px;
	 }
	#manage .search{
	 	border:none;
		width: 46px;
		height: 26px;
		background: #32beff;
		color: #fff;
		border-radius: 4px;
		text-align: center;
		line-height: 26px;
		font-size: 14px;
		margin-left: 10px;
		outline: none;
		margin-top: 24px;
	 }
	#manage .table{
	 	margin-top: 30px;
	 	border:1px solid #ccc;
	 }
	#manage .table thead tr{
	 	height: 40px;
	 	line-height: 40;
	 	background: #f2f2f2;
	 }
	#manage .table tbody tr{
	 	height: 70px;
	 	
	 }
	#manage .table tbody tr td{
	 	line-height: 70px;
	 }
	#manage .table th{
	 	border-bottom: none!important;
	 	height: 40px;
	 }
	#manage .table th, .table td { 
		text-align: center; 
		height:38px;
	}
	#manage .pagination{
	
		margin-left: 140px;
	}
	#manage .pagination > li > a{
		background: #32beff;
		color: #fff;
		margin: 0 5px;
	}
	#manage .pagination > li > a:hover{
		background-color: #32beff!important;
		color: #fff;
	}
	#manage .pagination > li:first-child > a,.pagination > li:last-child > a{
		background:#fff;
		color:#999;
		border:none;
	}
	#manage .pagination > li:first-child > a:hover,.pagination > li:last-child > a:hover{
		background-color: #fff!important;
		color: #999;
		border:none;
	}
	html.ngdialog-open,
	body.ngdialog-open {
	  overflow:visible ;
	}