/* asideIndex css */	
	#aside .asideBox{
		width: 1140px;
		margin: 0 auto;
	}
	#aside .slideTab{
		width: 160px;
		height: 260px;
		background: #fff;
		margin-top: 30px;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border:1px solid #ccc;
		
	}
	#aside .userCenter{
		width: 160px;
		height: 50px;
		background:red;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		text-align: center;
		line-height: 50px;
		color: #fff;
	}
	#aside .userTab{
		padding: 0;
	}
	#aside .userTab li{
		list-style: none;
		/*width: 159px;*/
		height: 40px;
		text-align: center!important;
		line-height: 40px;
	}
	#aside .userTab > li:hover,.active {
		color: #32beff; 
		cursor: pointer;
	}
	#aside .userTab > li:focus {
		color:#32beff;
	}
	#aside .userCenter {
		font-size: 20px;
		background: url('../images/userCenter/userCenter.png');
	}
	#aside .active {
		color: #32beff;
	}


/* myOrderIndex css */
	#myOrder .glyphicon{
		cursor: pointer;
	}
	#myOrder .navbar-static-top{
		position: relative;
		width:1170px;
		margin: 0 auto;
		top: -260px;
	}
	#myOrder .myOrderBox{
		background: #4e595f;
		width: 940px;
		height: 40px;
		top: 0px;
		position: absolute;
		left: 180px;
		padding: 0;
		border-radius: 4px;
	}
	#myOrder .myOrderList{margin-bottom:10px;}
	#myOrder .myOrderUl{margin:0;padding: 0;}
	#myOrder .myOrderUl li:nth-child(1){
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	#myOrder .myOrderUl li{
		width: 100px;
		height: 40px;
		line-height: 40px; 
		color: #fff;
		cursor: pointer;		
		text-align: center;
		margin: 0;
		padding: 0;
	}
	#myOrder .myOrderUl li:hover{background: #33beff;}
	#myOrder .myOrderActive{background: #33beff;}
	#myOrder .searchBox{
		width: 300px;
		height: 40px;
		float: right;
	}
	#myOrder .searchBox input{
		width: 0px;
		height: 26px;
		border:none;
		border-radius: 10px;
		margin-top: 7px;
		padding-left: 10px;
		outline:none;	
		float: right;
		margin-right: 20px;	
	}
	#myOrder .searchBox img{
		cursor: pointer;
		position: absolute;
		right: 12px;
		top: 5px;
	}
	#myOrder .myOrderBody{
		width: 940px;
		height: auto;
		position: absolute;
		top: 50px;		
		left: 180px;
		padding: 0;
		border-radius: 4px;
		
	}
	#myOrder .myOrderHead{
		width:940px;
		height: 134px;
		border:1px solid #dcf0f9;
	}
	#myOrder .myOrderSucc{
		border:1px solid #faecdc;
	}
	#myOrder .myOrderDone{
		border:1px solid #ebebeb;
	}
	#myOrder .myOrderId{
		width: inherit;
		height: 40px;
		background: #dcf0f9;
		line-height: 40px;
	}
	#myOrder .myOrderHead .orderSucc{
		background: #fcf2e6;
	}
	#myOrder .myOrderHead .orderDone{
		background: #f2f2f2;
	}
	#myOrder .myOrderId p{
		float: left;
		margin-left: 20px;
		margin-bottom: 0px;
	}
	#myOrder .myOrderDetail ul li:nth-child(1){
		width: 27%;
	}
	#myOrder .myOrderDetail{
		clear: both;
		width: 940px;
		height:94px;
		padding: 0;
		margin: 0;
	}
	#myOrder .myOrderDetail > ul > li{
		margin:0;
		padding:0;
		float: left;
		list-style: none;
		height: 93px;
		border-right: 1px solid #dcf0f9;
		text-align: center;
		line-height: 94px;
	}
	#myOrder .myOrderDetail > ul .Succ{
		border-right:1px solid #faecdc;
	}
	#myOrder .myOrderDetail > ul .Done{
		border-right :1px solid #ebebeb;
	}	
	#myOrder .myOrderDetail > ul > li:nth-child(1){
		width: 258px;
		text-align: left;
		line-height: 0px;
	}
	#myOrder .myOrderDetail > ul > li:nth-child(1) img{
		width: 60px;
		height: 60px;
		border:1px solid #ccc;
		float: left;
		margin: 17px 0 0 20px;
		margin-right: 10px;
	}
	#myOrder .myOrderDetail > ul > li:nth-child(2),.myOrderDetail ul li:nth-child(3),.myOrderDetail ul li:nth-child(4){
		width: 147px;
	}
	#myOrder .myOrderDetail > ul > li:nth-child(3){
		padding-top: 40px;
	}
	.myOrderDetail > ul > li:nth-child(3) p{
		line-height: 10px;
	}
	#myOrder .myOrderDetail > ul > li:nth-child(5){
		width: 240px;
	}
	#myOrder .myOrderDetail > ul{
		margin:0;
		padding:0;
	}
	#myOrder p.UserName{
		margin-top: 20px;
		line-height: 16px;
	}
	#myOrder .queren{
		padding: 6px 24px;
		outline: none;
	}
	#myOrder .myOrderContent{
		background: #f5f5f5;
		padding: 15px;
	}
	#myOrder .myOrderContent p:nth-child(2){
		color: #999999;
		line-height: 24px;
	}
	#myOrder .myOrderContent img{
		width: 58px;
		height: 58px;
		border:1px solid #dcdcde;
		margin-right: 10px;
	}
	#myOrder .ngdialog.ngdialog-theme-default .ngdialog-content{
		line-height: 390px;
		width: 560px;
		opacity: 0.5px!important;
		 background: rgba(255,255,255,0.5);
	}
	html.ngdialog-open,
	body.ngdialog-open {
	  overflow:visible ;
	}


/* headerIndex css */
	#header .topbar {
		border-bottom: 1px solid #ccc;
	}	
	#header .topbar-box {
		width: 1100px;
		height: 88px;
		margin:0 auto;
	}
	#header .logo {
		vertical-align: top;
	}
	#header .nav-header {
		display: inline-block;
	}
	#header .nav-header > li{
		/*height: inherit;*/
		text-align: center;
		margin-left: 50px;
		float: left;
	}
	#header .nav-header > li > a{
		height: inherit;
		font-size: 18px;
		outline: none;
		color: #666;
	}
	#header .nav-header > li > a:focus,
	#header .nav-header > li > a:hover,
	#header .active{		
		color: #19b6ff!important;
		background-color: #fff;
	}
	#header .dropdown{
		float:right;
		margin-top:33px;
		cursor: pointer;
	}
	#header .open > .dropdown-menu{
		left: -30px;
		background: url('../images/headerImg/dropdownBg.png') no-repeat;
		background-position: top -1px left -4px;
		background-size: 104% 102%;
		border:none;
		padding-top: 15px;
	}
	#header .dropdown-menu {
		z-index:10000;
	}
	#header .dropdown-menu li{
		height: 35px;
	}
	#header .headPic{
		float:right;
		margin-top:20px;
		margin-right:10px;
	}


/* loveIndex css */
	html.ngdialog-open,
		body.ngdialog-open {
		  overflow:visible ;
	}
	.glyphicon{
		cursor: pointer;
	}
	#love .navbar-static-top{
		position: relative;
		width:1170px;
		margin: 0 auto;
		top: -260px;
	}
	#love .myOrderBox{
		background: #4e595f;
		width: 940px;
		height: 40px;
		top: 0px;
		position: absolute;
		left: 180px;
		padding: 0;p[]
		border-radius: 4px;
	}
	#love .myOrderList{margin-bottom:10px;}
	#love .myOrderUl{margin:0;padding: 0;}
	#love .myOrderUl li:nth-child(1){
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	#love .myOrderUl li{
		width: 100px;
		height: 40px;
		line-height: 40px; 
		color: #fff;
		cursor: pointer;		
		text-align: center;
		margin: 0;
		padding: 0;
	}
	#love .myOrderUl li:hover{background: #33beff;}
	#love .myOrderActive{background: #33beff;}
	#love .searchBox{
		width: 300px;
		height: 40px;
		float: right;
	}
	#love .searchBox input{
		width: 260px;
		height: 26px;
		border:none;
		border-radius: 10px;
		margin-top: 7px;
		padding-left: 10px;
		outline:none;	
		float: right;
		margin-right: 20px;	
	}
	#love .searchBox img{
		cursor: pointer;
		position: absolute;
		right: 12px;
		top: 5px;
	}
	#love .myOrderBody{
		width: 940px;
		height: auto;
		position: absolute;
		top: 50px;		
		left: 190px;
		padding: 0;
		border-radius: 4px;
		
	}
	#love .myOrderHead{
		width:940px;
		height: 134px;
		border:1px solid #dcf0f9;
	}
	#love .cen{margin: 0 auto;}
	#love .fl{float: left;}
	#love .fr{float: right;}
	#love .headerBox{width: 100%;height: 210px;border:1px solid #ccc;}
	#love .headerPic{width: 90px;height: 90px;border:1px solid #ccc;margin-top: 20px;margin-bottom: 20px;margin-left: 10px;}
	#love .headerPic img{width: 100%;height: 100%;}
	#love .headerDetail{width: 828px;height: 90px;margin:20px 0 0 10px;}
	#love .userNameBox{width: 100%;}
	#love p.userName{font-size: 18px;color: #424242;font-weight: bold;margin-right: 20px;}
	#love p.userInfo{border-right:1px solid #999;color: #999;font-size: 12px;padding: 0 10px;margin-top: 3px;}
	#love .headerbottom{width: 97%;height: 79px;border-top:1px dashed #ccc;margin-left:10px; }
	#love .workerService{width: 100%;}
	#love .workerService_l{padding-right: 25px;}
	#love p.serviceItem{color: #808080;margin-bottom: 12px!important;font-size: 12px;}
	#love p.pingfen span{padding:0 10px 0 2px;vertical-align: -2px;color: #999;}
	#love .workerService_r{padding-left: 50px;}
	#love p.rankBox{color: #808080;font-size: 12px;}
	#love p.rankBox span{}
	#love p.rankBox img{margin: 0 2px 0 8px;vertical-align: 0px;}	
	#love .buttonBox{width: 300px;height:55px;}
	#love .buttonBox button{width: 102px;height: 36px;color: #fff;background: #32beff;border:none;border-radius: 4px;margin-left: 50px;outline: none;}
	#love p.prince{font-size: 16px;color: #ff8800;margin-left: 40px;}
	#love p.prince span{font-size: 22px;}
	#love .buttonBox p:nth-child(3){font-size:12px;color:#999;margin-left: 78px;margin-top: 8px;}
	#love .headerbottom div{float: left;width: 33%;text-align: center;height: 50px;line-height: 50px;margin-top: 15px;border-right: 1px solid #ccc;}
	#love .headerbottom div p{color: #999;}
	#love .headerbottom div p span{color: #424242;}


/* manageIndex css */
#manage .navbar-static-top{
	position: relative;
	width:1170px;
	margin: 0 auto;
	top: -260px;
}
	.glyphicon{
		cursor: pointer;
	}
	#manage .myManage{
		width: 940px;
		height: 114px;
		top: 0px;
		position: absolute;
		left: 180px;
		padding: 0;
		border-radius: 4px;
		border:1px solid #ccc;
	}
	#manage .yue{
		color:#999;
		margin: 18px 0 0 20px;
	}
	#manage .money{
		font-size: 30px;
		color: #19b6ff;
		margin: 12px 0 0 20px;
	}
	#manage .money span{
		font-size: 16px;
		color:#999;
	}
	#manage .btnCharge{
		border:none;
		width: 102px;
		height: 36px;
		background: #ff8903;
		color: #fff;
		border-radius: 4px;
		text-align: center;
		line-height: 36px;
		font-size: 16px;
		margin-left: 50px;
		vertical-align: text-bottom;
		outline: none;
	}
	#manage .myManageBody{
		width: 940px;
		height: auto;
		position: absolute;
		top: 120px;		
		left: 180px;
		padding: 0;
		border-radius: 4px;		
	}
	.ngdialog.ngdialog-theme-default .ngdialog-content{
		line-height: 390px;
		width: 560px;
		opacity: 0.5px!important;
		 background: rgba(255,255,255,0.5);
	}
	#manage .myManageTab{
		border-bottom:1px solid #32beff;
		height: 38px;
	}
	#manage .manageUl{
		margin: 0;
		padding:0;
		list-style: none;

	}
	#manage .manageUl li{
		float: left;
		border:1px solid #ccc;
		width: 126px;
		height: 38px;
		text-align: center;
		line-height: 38px;
		margin-right: 6px;
		cursor: pointer;
		margin-bottom: -1px;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		 background: -webkit-linear-gradient(#f2f2f2, #fff); 
	}
	#manage .active1{
		border: 1px solid #32beff!important;
		border-bottom: 1px solid #ccc!important;
		color: #32beff;
	}
	#manage .timeBox{
		width: 100%;
		height: 80px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
	#manage .timeBox p{
		float: left;
		margin-top: 23px;
		margin-left: 20px;
	}
	#manage input[type="date"],.Wdate{
	 	width: 130px;
	 	height: 30px;
	 	padding-left:5px;
	 }
	#manage .search{
	 	border:none;
		width: 46px;
		height: 26px;
		background: #32beff;
		color: #fff;
		border-radius: 4px;
		text-align: center;
		line-height: 26px;
		font-size: 14px;
		margin-left: 10px;
		outline: none;
		margin-top: 24px;
	 }
	#manage .table{
	 	margin-top: 30px;
	 	border:1px solid #ccc;
	 }
	#manage .table thead tr{
	 	height: 40px;
	 	line-height: 40;
	 	background: #f2f2f2;
	 }
	#manage .table tbody tr{
	 	height: 70px;
	 	
	 }
	#manage .table tbody tr td{
	 	line-height: 70px;
	 }
	#manage .table th{
	 	border-bottom: none!important;
	 	height: 40px;
	 }
	#manage .table th, .table td { 
		text-align: center; 
		height:38px;
	}
	#manage .pagination{
	
		margin-left: 140px;
	}
	#manage .pagination > li > a{
		background: #32beff;
		color: #fff;
		margin: 0 5px;
	}
	#manage .pagination > li > a:hover{
		background-color: #32beff!important;
		color: #fff;
	}
	#manage .pagination > li:first-child > a,.pagination > li:last-child > a{
		background:#fff;
		color:#999;
		border:none;
	}
	#manage .pagination > li:first-child > a:hover,.pagination > li:last-child > a:hover{
		background-color: #fff!important;
		color: #999;
		border:none;
	}
	html.ngdialog-open,
	body.ngdialog-open {
	  overflow:visible ;
	}


/* popcharge css */
  body .ngdialog.ngdialog-theme-default .ngdialog-content{
    line-height: 0px;
    width: 630px;
    background: rgba(255,255,255,0.5);    
  }
html .ngdialog-open,
body .ngdialog-open {
  overflow:visible ;
}
  #popCharge .popDiv{height: 514px!important;width: 600px!important;background-color: #fff;border-top: 5px solid #32beff;border-top-left-radius: 4px;border-top-right-radius: 4px;padding: 0 15px;}
  #popCharge .popDiv h3{text-align: center;}
  #popCharge .popDiv h4{margin-top: 30px;}
  #popCharge .popDiv h5{color: #ff2727;font-size: 13px;}
  #popCharge .contriduce{line-height: 22px;text-indent:2em;color: #808080;font-size: 12px;}
  #popCharge .service{margin-left: 40px;line-height: 20px;}
  #popCharge .pay{float: left;margin-right: 90px;}

  #popCharge .popDiv button{width:102px;height: 30px;line-height: 30px;position: absolute;border: none;bottom: 50px;color: #fff;border-radius: 4px;}
  #popCharge .popConfirm{left: 138px;background-color: #32beff;cursor: pointer;}
  #popCharge .popCancel{left: 360px;background-color: #cccccc;cursor: pointer;}

/* setUpIndex css */
	::-webkit-input-placeholder { color: #cccccc; } 
	:-moz-placeholder {/* Firefox 18- */ color: #cccccc; } 
	::-moz-placeholder{/* Firefox 19+ */ color: #cccccc; } 
	:-ms-input-placeholder { color: #cccccc; }
	#setUp .setUp{
		position: relative;
		width: 940px;
		margin: 0 auto;
		top:-260px;
		left: 80px;
	}
	#setUp .setUpHead{
		width: 100%;
		height: 140px;
		border-radius: 4px;
		background: #4dc0f6;
		background: -webkit-linear-gradient(#67ceff, #3bb6ef); /* Safari 5.1 - 6.0 */
	    background: -o-linear-gradient(#67ceff, #3bb6ef); /* Opera 11.1 - 12.0 */
	    background: -moz-linear-gradient(#67ceff, #3bb6ef);* Firefox 3.6 - 15 */
	    background: linear-gradient(#67ceff, #3bb6ef); /* 标准的语法（必须放在最后） */
	}
	#setUp .imgBox{
		float: left;
		width: 132px;
		height: 132px;
	    background: #edf2f4;
	    border-radius: 4px;
	    margin-top: 48px;
	    margin-left: 30px;
	    position: relative;
	}
	#setUp .imgBox img{
		width: 118px;
		height: 118px;
		border:1px solid #ccc;
		border-radius: 4px;
		margin:6px 0 0 6px;
	}
	#setUp .changeBox{
		width: 118px;
		height: 30px;
		background: #fff;
		position: absolute;
		left: 6px;
		bottom: 9px;
		opacity: 0.5;
		text-align: center;
		line-height: 30px;
		cursor: pointer;
	}
	#setUp .userName{
		position: absolute;
		left: 180px;
		bottom: 0;
		font-size: 20px;
		color: #fff;
	}
	#setUp .userName img{
		cursor: pointer;
		vertical-align: -3px;
	}
	#setUp .changeName{
		position: absolute;
		left: 180px;
		bottom: 0;
		color: #fff;
		cursor: pointer;
	}
	#setUp .changeName input{
		width: 214px;
		height: 36px;
		padding-left: 5px;
		color: #000;
	}
	#setUp .changeName span{
		margin-left: 5px;
		vertical-align: text-top;
	}
	#setUp .qrcode{
		width: 72px;
		height: 72px;
		border-radius: 4px;
		position: absolute;
		right: 48px;
		top: 22px;
	}
	#setUp .qrcodeBottom{
		position: absolute;
		right: 40px;
		top: 95px;
	}
	#setUp .setUpBody{
		width: 100%;
	}
	#setUp .phoneBox{
		width: 50%;
	}
	#setUp .phoneBox img{
		margin:25px 0 0 50px;
	}
	#setUp .telephone{
		margin: 25px 0 0 20px
	}
	#setUp .passwordBox{
		width: 50%;
	}
	#setUp .passwordBox img{
		margin:25px 0 0 50px;
	}
	#setUp .changePhone{
		margin-left: 10px;
		cursor: pointer;
		color: #32beff;
	}
	#setUp .telephonetext{
		margin: 18px 0 0 20px;
		color: #999;
	}
	.fl{float: left;}


/* newPassword css */
	#newPassword .newPassword {
		margin-top: 167px;
		width: 100%;
		height: 100%;
		text-align: center;
		min-width: 768px;
	}
	#newPassword .stepBox {
		position: relative;	
		display: inline-block;
		width: 88px
		height:55px;
		padding-top: 36px;
	}
	#newPassword .stepBox > img {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -15px; 
	}
	#newPassword .stepBox > span {
		display: inline-block;
		font-size: 12px;
		color: #424242;
		margin-top: 5px;
	}
	#newPassword .newPassword .line {
		display: inline-block;
		border-top: 1px solid #32beff;
		width: 250px;
		margin-bottom: 39px; 
	}
	#newPassword .newPassword > form {
		margin-top: 50px;
	}
	#newPassword .newPassword > form > .group {
		margin-top: 10px;
	}
	#newPassword .newPassword > form > .group > label {
		color: #999;
		font-size: 14px;
	}
	#newPassword .newPassword > form > .group > input {
		border: 1px solid #999;
		width: 258px;
		height: 38px;
		border-top-width: 2px;
		padding-left: 10px;
		color: #424242;
	}
	#newPassword .newPassword > form > .group > input:focus{
		outline:  0;
	}
	#newPassword .newPassword > form > .button {
		margin-top: 60px;
	} 
	#newPassword .newPassword > form > .button > p {
		margin-left: 55px;
		font-size: 12px;
		color:#f50a0a;
	}
	#newPassword .newPassword > form > .button > .btn{
		width: 110px;
		background-color: #32beff;
		font-size: 16px;
		color:#fff;
	} 
	.f12 {
		font-size: 12px;
	}
	.f24 {
		font-size: 24px;
	}
	.ml25 {
		margin-left: 25px;
	}
	#newPassword .PsdSuccess {
		margin-top: 
	}
	#newPassword .newPassword .setSuccess > p {
		margin-top: 29px;
		font-size: 16px;
		color: #424242;
	}
	#newPassword .newPassword .setSuccess > span {
		color: #19b6ff;
		font-size: 12px;
	}


/* newPhone css */
	#newPhone .newPhone {
		margin-top: 167px;
		width: 100%;
		height: 100%;
		text-align: center;
		min-width: 768px;
	}
	#newPhone .stepBox {
		position: relative;	
		display: inline-block;
		width: 88px
		height:55px;
		padding-top: 36px;
	}
	#newPhone .stepBox > img {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -15px; 
	}
	#newPhone .stepBox > span {
		display: inline-block;
		font-size: 12px;
		color: #424242;
		margin-top: 5px;
	}
	#newPhone .newPhone .line {
		display: inline-block;
		border-top: 1px solid #32beff;
		width: 250px;
		margin-bottom: 39px; 
	}
	#newPhone .newPhone > form {
		margin-top: 50px;
	}
	#newPhone .newPhone > form > p {
		color: #999;
		font-size: 14px;
		margin-left: -182px;
		margin-bottom: 22px;
	}
	#newPhone .newPhone > form > p > span {
		color: #32beff;
		font-size: 16px;
	}
	#newPhone .newPhone > form > .group {
		margin-top: 10px;
	}
	#newPhone .newPhone > form > .group > label {
		color: #999;
		font-size: 14px;
	}
	#newPhone .newPhone > form > .group > input {
		border: 1px solid #999;
		width: 156px;
		height: 38px;
		/*border-bottom-width: 2px;*/
		padding-left: 10px;
		color: #424242;
	}
	#newPhone .newPhone > form > .group1 > label {
		color: #999;
		font-size: 14px;
		margin-left: -9px;
	}
	#newPhone .newPhone > form > .group1 > input {
		border: 1px solid #999;
		width: 258px;
		height: 38px;
		padding-left: 10px;
		color: #424242;
	}
	#newPhone .newPhone > form > .group > .btn {
		margin-left: 10px;
		width: 110px;
		height: 36px;
		background-color: #32beff;
		font-size: 12px;
		color: #fff;
	}
	#newPhone .newPhone > form > .group > input:focus{
		outline:  0;
	}
	#newPhone .newPhone > form > .group1 > input:focus{
		outline:  0;
	}
	#newPhone .newPhone > form > .button {
		margin-top: 60px;
	} 
	#newPhone .newPhone > form > .button > p {
		margin-left: 55px;
		font-size: 12px;
		color:#f50a0a;
	}
	#newPhone .newPhone > form > .button > .btn{
		width: 110px;
		background-color: #32beff;
		font-size: 16px;
		color:#fff;
	} 
	.f12 {
		font-size: 12px;
	}
	.f14 {
		font-size: 14px;
	}
	.f24 {
		font-size: 24px;
	}
	.ml25 {
		margin-left: 25px;
	}
	#newPhone .PsdSuccess {
		margin-top: 
	}
	#newPhone .newPhone .setSuccess > p {
		margin-top: 29px;
		font-size: 16px;
		color: #424242;
	}
	#newPhone .newPhone .setSuccess > span {
		color: #19b6ff;
		font-size: 12px;
	}


/* workerIndex css */
	.cen{margin: 0 auto;}
	.fl{float: left;}
	.fr{float:right;}
	.f12{font-size: 12px;}
	#worker .workerBox{width: 1130px;margin-top:10px!important; }
	#worker .headerBox{width: 100%;height: 510px;}
	#worker .headerPic{width: 318px;height: 318px;border:1px solid #ccc;margin-top: 30px;}
	#worker .headerPic img{width: 100%;height: 100;}
	#worker .headerDetail{width: 760px;height: 318px;margin:30px 0 0 20px;}
	#worker .userNameBox{width: 100%;}
	#worker p.userName{font-size: 18px;color: #424242;font-weight: bold;margin-right: 20px;}
	#worker p.userInfo{border-right:1px solid #999;color: #999;font-size: 12px;padding: 0 10px;margin-top: 3px;}
	#worker .shoreBox{width: 100%;height: 56px;}
	#worker .shoreBox p{margin-top: 8px;cursor: pointer;}
	#worker .shoreBox p:nth-child(1){margin-left: 217px;margin-right: 10px;}
	#worker .headerbottom{width: 100%;height: 86px;border:1px solid #ccc;border-radius: 4px;}
	#worker .headerbottom p{color: #32beff;margin: 8px 0 0 8px;}
	#worker .headerbottom img{width: 30px;height: 30px;border:1px solid #ccc;border-radius: 4px;cursor: pointer;}
	#worker .renzhenBox{position: relative;margin-top: 15px;margin-left: 8px; }
	#worker .talkBox{width: 66px;height: 27px;background: url('../images/worker/talkBg.png');position: absolute;left: 10px;top: 33px;font-size: 12px;text-align:center;line-height: 34px;}
	#worker .workerService{width: 100%;margin-top: 10px;}
	#worker .workerService_l{border-right:1px solid #e5e5e5;padding-right: 25px;}
	#worker p.serviceItem{color: #808080;margin-top: 5px;}
	#worker .pingfen{margin-top: 22px;}
	#worker p.pingfen span{padding:0 10px 0 2px;vertical-align: -2px;color: #999;}
	#worker .workerService_r{padding-left: 30px;}
	#worker p.rankBox{color: #808080;margin-bottom: 22px;margin-top: 5px;}
	#worker p.rankBox span{}
	#worker p.rankBox img{margin: 0 2px 0 8px;vertical-align: 0px;}
	#worker .prince{width: 256px;height: 43px;border-radius: 4px;background: #32beff;}
	#worker p.princetext{font-size: 14px;color: #fff; margin: 10px 0 0 20px;border-right: 1px solid #fff;padding-right: 10px;}
	#worker p.princetext span{font-size: 18px;}
	#worker .prince input{border:none;background: #32beff;color: #fff;font-size: 20px;outline: none;margin: 6px 0 0 36px;}
	#worker p.telephone{color: #808080;margin: 10px 0 0 25px;}
	#worker p.telephone span{background: #808080;color: #fff;padding: 5px;border-radius: 4px;cursor: pointer;}
	#worker .slideBox{width: 100%;height: 119px;/*background: red;*/margin-top: 25px;}
	/* 效果CSS开始 */
	#worker .slideBox #zsgun{position:relative;height:inherit; width:100%; margin:auto;overflow: hidden;}
	#worker .slideBox a.hScrollPane_leftarrow{top:0px; cursor:pointer; display:block; width:14px; height:119px; background:url('../images/worker/left.png') no-repeat;left:0px; position:absolute;border:1px solid #ccc;}
	
	#worker .slideBox a.hScrollPane_rightarrow{ top:0px; cursor:pointer; display:block; width:14px; height:119px; background:url('../images/worker/right.png') no-repeat; right:0px; position:absolute;border:1px solid #ccc;}
	#worker .slideBox #gundiv{ width:97%; position:relative; margin-left:-12px; padding-top:22px; float:left; display:inline;height:119px; overflow:hidden;}
	#worker .slideBox #gundiv ul {height:117px;position: absolute; width:10000px;bottom:-8px;}
	#worker .slideBox #gundiv li{ width:117; height:117; overflow:hidden; float:left; margin-right:17px;position:relative; border:1px solid #ccc;}
	
	/* 效果CSS结束 */

	.contentBox{width: 100%;}
	.contentBox .content{width: 850px;}
	.contentBox .map{width: 300px;}
	.contentFirst{position: relative;}
	.workerTab{width: 100%;height: 50px;border-bottom:1px solid #32beff;}
	.workerUl{margin: 0;padding:0;list-style: none;}
	.workerUl li{float: left;width: 180px;height: 50px;text-align: center;line-height: 50px;cursor: pointer;color: #000;font-size: 16px;}
	.active1{background-color: #32beff;color: #fff!important;}
	/*评论上图样式*/
	.contentFirst .popDiv{height: 300px!important;width: 850px!important;background:#f9fbf6;margin-top:15px;}
	.popDiv .headPic{width:59px;height:59px;border:1px solid #ccc;position:absolute;top:4px;left:20px;}
	.popDivuserName{width:59px;position:absolute;top:85px;left:22px;color:#32beff;}
	.contentFirst .popDiv button{width:102px;height: 36px;line-height: 36px;border: none;color: #fff;border-radius: 4px;}
	.contentFirst .popConfirm{background-color: #32beff;cursor: pointer;margin:160px 20px 0 0;}
  	.contentFirst .setScore ul{list-style: none;position: relative;height: 20px;width: 170px; top:23px;left:100px;}
  	.contentFirst .setScore ul li{width: 23px;height: 16px; float: left;background: url('../images/myOrder/star.png') no-repeat 0 -16px;}
  	.contentFirst .star{background: url('../images/myOrder/star.png') no-repeat 0 0px!important;}
  	.contentFirst .setScore span:nth-child(1){position:absolute;top:20px;left: 100px; }
  	.contentFirst .content-title{position:absolute;top:100px;left: 50px; }
  	.contentFirst .setScore p{position:absolute;top:20px;left: 260px;color: #fd718e; }
  	.contentFirst .content-area{width:750px;height:120px;position: absolute;top: 55px;left:96px; padding: 10px;resize: none; font: none!important;line-height: normal;overflow: visible;outline: none;}

  	.contentFirst #imgesFilesAuto{width:auto;height:98px; margin:160px 0 0 96px;float:left;}
  	.contentFirst #imagesBox{width:auto;height:98px;float:left;cursor: pointer;}
  	.contentFirst #imagesBox img{width:98px;height:98px;float:left;cursor: pointer;border:1px solid #ccc;margin-right: 6px;}
  	.contentFirst #imgesFiles{width:98px;height:98px;float:left;position:relative;border:1px dashed #ccc;cursor: pointer;}
  	.contentFirst #imgesFiles span{position:absolute;font-size:80px;display:block;width:98px;text-align:center;height:98px;color:#CCC;cursor: pointer;line-height: 87px;font-weight: lighter;}
  	.popDiv1{background:#f9fbf6;}
  	.contentBody{overflow:hidden;border-bottom:1px solid #ccc;padding:20px 0 30px 0;}
  	.contentBodyLeft{width:80px;}
  	.contentBodyLeft .headPic1{width:59px;height:59px;border:1px solid #ccc;margin-left:20px;}
  	.contentBodyLeft .popDivuserName1{width:59px;color:#32beff;margin-left:20px;}
  	.contentBodyRight{width:770px;padding-left:20px;}
  	.contentBodyRight .setScore1 ul{list-style: none;height: 20px;width: 170px; margin:3px 0 0 -42px;}
  	.contentBodyRight .setScore1 ul li{width: 23px;height: 16px; float: left;background: url('../images/myOrder/star.png') no-repeat 0 0px;}
  	.contentBodyRight .setScore1 p{color: #fd718e; padding-right:60px;}
  	.contentBodyRight .setScore1 p span{color:#999;}
  	.contentBodyRight .reply{width:100%;background:#f5f5f5;padding:20px;}
  	.contentBodyRight .reply p span{color:#52a5cc;}
  	.contentBodyRight .replayPic{}
  	.workerInfo{width:850px;}
  	.workerInfo .biaoge{width:850px;margin-top:30px;}
  	.workerInfo .detailInfo h4{border-bottom:5px solid #a6e3ff;padding-bottom:5px;}
  	.workerInfo .detailInfo p{padding:5px 0 5px 0;border-bottom:1px solid #f0f0f0;font-weight:bold;}
  	.workerInfo .detailInfo p span{font-weight:normal;}



/* bossIndex css */
	.cen{margin: 0 auto;}
	.fl{float: left;}
	.fr{float:right;}
	.f12{font-size: 12px;}
	#bossIndex .workerBox{width: 1130px;margin-top:88px!important; }
	#bossIndex .headerBox{width: 100%;height: 510px;}
	#bossIndex .headerPic{width: 318px;height: 318px;border:1px solid #ccc;margin-top: 30px;}
	#bossIndex .headerPic img{width: 100%;height: 100;}
	#bossIndex .headerDetail{width: 760px;height: 318px;margin:30px 0 0 20px;}
	#bossIndex .userNameBox{width: 100%;}
	#bossIndex p.userName{font-size: 18px;color: #424242;font-weight: bold;margin-right: 20px;}
	#bossIndex p.userInfo{border-right:1px solid #999;color: #999;font-size: 12px;padding: 0 10px;margin-top: 3px;}
	#bossIndex .shoreBox{width: 100%;height: 56px;}
	#bossIndex .shoreBox p{margin-top: 8px;cursor: pointer;}
	#bossIndex .shoreBox p:nth-child(1){margin-left: 217px;margin-right: 10px;}
	#bossIndex .headerbottom{width: 100%;height: 86px;border:1px solid #ccc;border-radius: 4px;}
	#bossIndex .headerbottom p{color: #32beff;margin: 8px 0 0 8px;}
	#bossIndex .headerbottom img{width: 30px;height: 30px;border:1px solid #ccc;border-radius: 4px;cursor: pointer;}
	#bossIndex .renzhenBox{position: relative;margin-top: 15px;margin-left: 8px; }
	#bossIndex .talkBox{width: 66px;height: 27px;background: url('../images/worker/talkBg.png');position: absolute;left: 10px;top: 33px;font-size: 12px;text-align:center;line-height: 34px;}
	#bossIndex .workerService{width: 100%;margin-top: 10px;}
	#bossIndex .workerService_l{border-right:1px solid #e5e5e5;padding-right: 25px;}
	#bossIndex p.serviceItem{color: #808080;margin-top: 5px;}
	#bossIndex .pingfen{margin-top: 22px;}
	#bossIndex p.pingfen span{padding:0 10px 0 2px;vertical-align: -2px;color: #999;}
	#bossIndex .workerService_r{padding-left: 30px;}
	#bossIndex p.rankBox{color: #808080;margin-bottom: 22px;margin-top: 5px;}
	#bossIndex p.rankBox span{}
	#bossIndex p.rankBox img{margin: 0 2px 0 8px;vertical-align: 0px;}
	#bossIndex .prince{width: 147px;height: 43px;border-radius: 4px;background: #32beff;color:#fff;font-size:18px;line-height:43px;text-align:center;cursor:pointer;}
	#bossIndex p.princetext{font-size: 14px;color: #fff; margin: 10px 0 0 20px;border-right: 1px solid #fff;padding-right: 10px;}
	#bossIndex p.princetext span{font-size: 18px;}
	
	#bossIndex p.telephone{color: #808080;margin: 10px 0 0 25px;}
	#bossIndex p.telephone span{background: #808080;color: #fff;padding: 5px;border-radius: 4px;cursor: pointer;}
	#bossIndex .slideBox{width: 100%;height: 119px;/*background: red;*/margin-top: 25px;}
	/* 效果CSS开始 */
	#bossIndex .slideBox #zsgun{position:relative;height:inherit; width:100%; margin:auto;overflow: hidden;}
	#bossIndex .slideBox a.hScrollPane_leftarrow{top:0px; cursor:pointer; display:block; width:14px; height:119px; background:url('../images/worker/left.png') no-repeat;left:0px; position:absolute;border:1px solid #ccc;}
	
	#bossIndex .slideBox a.hScrollPane_rightarrow{ top:0px; cursor:pointer; display:block; width:14px; height:119px; background:url('../images/worker/right.png') no-repeat; right:0px; position:absolute;border:1px solid #ccc;}
	#bossIndex .slideBox #gundiv{ width:97%; position:relative; margin-left:-12px; padding-top:22px; float:left; display:inline;height:119px; overflow:hidden;}
	#bossIndex .slideBox #gundiv ul {height:117px;position: absolute; width:10000px;bottom:-8px;}
	#bossIndex .slideBox #gundiv li{ width:117; height:117; overflow:hidden; float:left; margin-right:17px;position:relative; border:1px solid #ccc;}
	
	/* 效果CSS结束 */

	#bossIndex .contentBox{width: 100%;}
	#bossIndex .contentBox .content{width: 850px;}
	#bossIndex .contentBox .map{width: 300px;}
	#bossIndex .contentBox .serviceControduce{width:850;}
	#bossIndex .serviceControduce .services{width:31.8%;height:300px;margin:15px 6px 0 6px;border-bottom:1px solid #ccc;}
	#bossIndex .serviceControduce .services img{width:100%;height:150px;border:1px solid #ccc;}
	#bossIndex .serviceControduce .services p:nth-child(2){margin-top:10px;font-size:16px;}
	#bossIndex .serviceControduce .services p:nth-child(3){color:#999;}
	#bossIndex .serviceControduce .services p:nth-child(4){color:#32beff;}
	#bossIndex .serviceControduce .services p:nth-child(4) span{font-size:22px;}
	#bossIndex .contentFirst{position: relative;}
	#bossIndex .workerTab{width: 100%;height: 50px;border-bottom:1px solid #32beff;}
	#bossIndex .workerUl{margin: 0;padding:0;list-style: none;}
	#bossIndex .workerUl li{float: left;width: 180px;height: 50px;text-align: center;line-height: 50px;cursor: pointer;color: #000;font-size: 16px;}
	#bossIndex .active1{background-color: #32beff;color: #fff!important;}
	/*评论上图样式*/
	#bossIndex .contentFirst .popDiv{height: 300px!important;width: 850px!important;background:#f9fbf6;margin-top:15px;}
	#bossIndex .popDiv .headPic{width:59px;height:59px;border:1px solid #ccc;position:absolute;top:4px;left:20px;}
	#bossIndex .popDivuserName{width:59px;position:absolute;top:85px;left:22px;color:#32beff;}
	#bossIndex .contentFirst .popDiv button{width:102px;height: 36px;line-height: 36px;border: none;color: #fff;border-radius: 4px;}
	#bossIndex .contentFirst .popConfirm{background-color: #32beff;cursor: pointer;margin:160px 20px 0 0;}
  	#bossIndex .contentFirst .setScore ul{list-style: none;position: relative;height: 20px;width: 170px; top:23px;left:100px;}
  	#bossIndex .contentFirst .setScore ul li{width: 23px;height: 16px; float: left;background: url('../images/myOrder/star.png') no-repeat 0 -16px;}
  	#bossIndex .contentFirst .star{background: url('../images/myOrder/star.png') no-repeat 0 0px!important;}
  	#bossIndex .contentFirst .setScore span:nth-child(1){position:absolute;top:20px;left: 100px; }
  	#bossIndex .contentFirst .content-title{position:absolute;top:100px;left: 50px; }
  	#bossIndex .contentFirst .setScore p{position:absolute;top:20px;left: 260px;color: #fd718e; }
  	#bossIndex .contentFirst .content-area{width:750px;height:120px;position: absolute;top: 55px;left:96px; padding: 10px;resize: none; font: none!important;line-height: normal;overflow: visible;outline: none;}

  	#bossIndex .contentFirst #imgesFilesAuto{width:auto;height:98px; margin:160px 0 0 96px;float:left;}
  	#bossIndex .contentFirst #imagesBox{width:auto;height:98px;float:left;cursor: pointer;}
  	#bossIndex .contentFirst #imagesBox img{width:98px;height:98px;float:left;cursor: pointer;border:1px solid #ccc;margin-right: 6px;}
  	#bossIndex .contentFirst #imgesFiles{width:98px;height:98px;float:left;position:relative;border:1px dashed #ccc;cursor: pointer;}
  	#bossIndex .contentFirst #imgesFiles span{position:absolute;font-size:80px;display:block;width:98px;text-align:center;height:98px;color:#CCC;cursor: pointer;line-height: 87px;font-weight: lighter;}
  	#bossIndex .popDiv1{background:#f9fbf6;}
  	#bossIndex .contentBody{overflow:hidden;border-bottom:1px solid #ccc;padding:20px 0 30px 0;}
  	#bossIndex .contentBodyLeft{width:80px;}
  	#bossIndex .contentBodyLeft .headPic1{width:59px;height:59px;border:1px solid #ccc;margin-left:20px;}
  	#bossIndex .contentBodyLeft .popDivuserName1{width:59px;color:#32beff;margin-left:20px;}
  	#bossIndex .contentBodyRight{width:770px;padding-left:20px;}
  	#bossIndex .contentBodyRight .setScore1 ul{list-style: none;height: 20px;width: 170px; margin:3px 0 0 -42px;}
  	#bossIndex .contentBodyRight .setScore1 ul li{width: 23px;height: 16px; float: left;background: url('../images/myOrder/star.png') no-repeat 0 0px;}
  	#bossIndex .contentBodyRight .setScore1 p{color: #fd718e; padding-right:60px;}
  	#bossIndex .contentBodyRight .setScore1 p span{color:#999;}
  	#bossIndex .contentBodyRight .reply{width:100%;background:#f5f5f5;padding:20px;}
  	#bossIndex .contentBodyRight .reply p span{color:#52a5cc;}
  	#bossIndex .contentBodyRight .replayPic{}
  	#bossIndex .workerInfo{width:850px;}
  	#bossIndex .workerInfo .biaoge{width:850px;margin-top:30px;}
  	#bossIndex .workerInfo .detailInfo h4{border-bottom:5px solid #a6e3ff;padding-bottom:5px;}
  	#bossIndex .workerInfo .detailInfo p{padding:5px 0 5px 0;border-bottom:1px solid #f0f0f0;font-weight:bold;}
  	#bossIndex .workerInfo .detailInfo p span{font-weight:normal;}


  /* bossDetail css */
	#bossDetail #boss {
		position: relative;	
	}
	#bossDetail .bossBox {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		top: 118px;
		width: 1100px;
		height: 100%;
	}
	#bossDetail .leftBox {
		float: left;
	}
	#bossDetail .titleLeft {
		position: relative;
		padding-left: 320px;
		width: 768px;
		height: 212px;
	}
	#bossDetail .titleLeft img {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 182px;
	}
	#bossDetail .titleLeft > span {
		font-size: 24px;
	}
	#bossDetail .titleLeft p {
		font-size: 12px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#bossDetail .titleLeft .btn {
		position: absolute;
		bottom: 30px;
		width: 256px;
		height: 42px;
		background-color: rgb(50,190,255);
		text-align: left;
	}
	#bossDetail .titleLeft .btn > span:first-child {
		display: inline-block;
		line-height: 16px;
		font-size: 16px;
		border-right:1px solid #fff;
		padding-right: 16px;
	}
	#bossDetail .titleLeft .btn > span:last-child {
		display: inline-block;
		line-height: 16px;
		font-size: 16px;
		padding-left: 45px; 
	}	
	#bossDetail .titleLeft .btn > span:first-child::before {
		content: "¥ ";
		font-size: 14px;
		padding-left: 5px;
	}
	#bossDetail .titleLeft .btn > span:first-child::after {
		content: "/小时";
		font-size: 14px;
	}
	#bossDetail .admitInfo {
		border: 1px solid #ebebeb;
		border-radius: 4px;
		width: 768px;
		max-height: 128px;
		padding: 10px;
		color: rgb(92,199,255);
	}

	#bossDetail .tab-content .tab-panel > img{
		
	}
	#bossDetail .rightBox {
		float: right;
	}
	#bossDetail .titleRight {
		position: relative;
		padding:20px 20px 20px 120px;
		width: 298px;
		height: 298px;
		border:1px solid #ccc;
	}
	#bossDetail .titleRight > div:first-child > img {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 88px;
		height: 88px;
	}
	#bossDetail .titleRight > div:first-child > span {
		color: #424242;
		font-size: 18px;
		line-height: 24px;
		font-weight: bold;
	}
	#bossDetail .titleRight > div:first-child > p {
		color: #999;
		font-size: 12px;
		line-height: 20px;
		margin-top: 16px;
	}
	#bossDetail .titleRight > div:last-child {
		position: absolute;
		top: 158px;
		left: 20px;
	}
	#bossDetail .titleRight > div:last-child  div {
		text-align: center;
		width: 99px;
		display: inline-block;
	}
	#bossDetail .titleRight > div:last-child  > div > span:first-child {
		color:rgb(25,182,255);
		font-size: 26px;
	}
	#bossDetail .titleRight > div:last-child  > div > p {
		color: #424242;
		font-size: 14px;
	}
	/*地图样式*/
	#bossDetail .mapRight {
		margin-top: 60px;
	}
	#bossDetail .mapRight > p:first-child {
		border-bottom: 1px solid #ccc;
		font-size: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
	#bossDetail .mapRight > p:nth-child(3) {
		color: #19b6ff;
		font-size: 14px;
	}
	#bossDetail .mapRight > p:nth-child(4),
	#bossDetail .mapRight > p:nth-child(5) {
		color:#808080;
		font-size: 12px;
	}
	#bossDetail .mapRight > p:nth-child(4) > span,
	#bossDetail .mapRight > p:nth-child(5) > span {
		color: #424242;
		font-size: 12px;
	}
	#bossDetail #bossmap {
		border: 1px solid #ccc;
		margin-bottom: 20px;
	}
	.ml-20 {
		margin-left: -20px;
	}
	.mr-20 {
		margin-right: -20px;
	}
	.mr2 {
		margin-right: 2px;
	}
	#bossDetail .lookBigMap {
		width: 100%;
		height:50px;
		background-color: rgba(242,247,240,0.9);
		text-align: center;
		color: rgb(179,179,179);
		padding-top: 8px;
	}
	/*导航栏内容*/
	#bossDetail .tab-content > .tab-panel:first-child {
		margin-top: 30px;
	}
	#bossDetail .tab-content > .tab-panel:last-child {
		margin-top: 10px;
	}
	#bossDetail .tab-panel > img {
		width: 770px;
		height: 300px;
	}
	#bossDetail .bossActive {
		background-color: #32beff;
		color: #fff!important;
	}
	.fl {
		float: left;
	}
	.fr {
		float: right;
	}
	/*用户评价*/
	#bossDetail .contentFirst{position: relative;}
	#bossDetail .contentFirst .popDiv{height: 300px!important;width: 770px!important;background:#f9fbf6;}
	#bossDetail .popDiv .headPic{width:59px;height:59px;border:1px solid #ccc;position:absolute;}
	#bossDetail .popDivuserName{width:59px;position:absolute;top:85px;color:#32beff;}
	#bossDetail .contentFirst .popDiv button{width:102px;height: 36px;line-height: 36px;border: none;color: #fff;border-radius: 4px;}
	#bossDetail .contentFirst .popConfirm{background-color: #32beff;cursor: pointer;margin:160px 20px 0 0;}
  	#bossDetail .contentFirst .setScore ul{list-style: none;position: relative;height: 20px;width: 170px; top:23px;left:73px;}
  	#bossDetail .contentFirst .setScore ul li{width: 23px;height: 16px; float: left;background: url('../images/myOrder/star.png') no-repeat 0 -16px;}
  	#bossDetail .contentFirst .star{background: url('../images/myOrder/star.png') no-repeat 0 0px!important;}
  	#bossDetail .contentFirst .setScore span:nth-child(1){position:absolute;top:20px;left: 73px; }
  	#bossDetail .contentFirst .content-title{position:absolute;top:100px;left: 50px; }
  	#bossDetail .contentFirst .setScore p{position:absolute;top:20px;left: 237px;color: #fd718e; }
  	#bossDetail .contentFirst .content-area{width:698px;height:120px;position: absolute;top: 55px;left:73px; padding: 10px;resize: none; font: none!important;line-height: normal;overflow: visible;outline: none;}

  	#bossDetail .contentFirst #imgesFilesAuto{width:auto;height:98px; margin:160px 0 0 73px;float:left;}
  	#bossDetail .contentFirst #imagesBox{width:auto;height:98px;float:left;cursor: pointer;}
  	#bossDetail .contentFirst #imagesBox img{width:98px;height:98px;float:left;cursor: pointer;border:1px solid #ccc;margin-right: 6px;}
  	#bossDetail .contentFirst #imgesFiles{width:98px;height:98px;float:left;position:relative;border:1px dashed #ccc;cursor: pointer;}
  	#bossDetail .contentFirst #imgesFiles span{position:absolute;font-size:80px;display:block;width:98px;text-align:center;height:98px;color:#CCC;cursor: pointer;line-height: 87px;font-weight: lighter;}
  	#bossDetail .popDiv1{background:#f9fbf6;}
  	#bossDetail .contentBody{overflow:hidden;border-bottom:1px solid #ccc;padding:20px 0 30px 0;}
  	#bossDetail .contentBodyLeft{width:73px;}
  	#bossDetail .contentBodyLeft .headPic1{width:59px;height:59px;border:1px solid #ccc;}
  	#bossDetail .contentBodyLeft .popDivuserName1{width:59px;color:#32beff;}
  	#bossDetail .contentBodyRight{width:698px;}
  	#bossDetail .contentBodyRight .setScore1 ul{list-style: none;height: 20px;width: 170px; margin:3px 0 0 -42px;}
  	#bossDetail .contentBodyRight .setScore1 ul li{width: 23px;height: 16px; float: left;background: url('../images/myOrder/star.png') no-repeat 0 0px;}
  	#bossDetail .contentBodyRight .setScore1 p{color: #fd718e; padding-right:20px;}
  	#bossDetail .contentBodyRight .setScore1 p span{color:#999;}
  	#bossDetail .contentBodyRight .reply{width:100%;background:#f5f5f5;padding:20px;}
  	#bossDetail .contentBodyRight .reply p span{color:#52a5cc;}


/* orderIndex css */
	#order label {
		font-style: normal;
	}
	#order span {
		font-style: normal;
	}
	#order .btn {
		font-style: normal;
	}
	#order {
		position: relative;
	}
	#order .orderBox {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		top: 118px;
		width: 910px;
		height: 100%;
	}
	#order .orderBox .header {
		height: 165px;
		border: 3px solid rgb(235,235,235);
		border-radius: 6px;
		padding: 20px 30px;
	}
	#order .headerBox {
		padding-left: 137px;
		color: #999;
	}
	#order .headerBox img {
		position: absolute;
		top: 20px;
		left: 30px;
		width: 120px;
		height: 120px;
		border: 1px solid #ccc;
	}
	#order .headerBox p {
		margin-bottom: 0;
	}
	#order .headerBox > p {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 7px;
		line-height: 18px;
		color: rgb(66,66,66);
	}
	#order .headerBox > span {	
		font-size: 14px;
		margin-bottom: 10px;
	}
	#order .headerFooter {
		margin-top: 30px;
	}
	.headerFooter i {
		margin: 0;
	}
	#order .headerFooter  div {
		display: inline-block;
	}
	#order .headerFooter  div:not(:last-child) {
		border-right:1px solid #ccc; 
	}
	#order .headerFooter > div:first-child {
		width: 300px;
	}
	#order .headerFooter .btn {
		width: 88px;
		height: 20px;
		padding: 0 5px;
		font-size: 12px;
		background-color: #32beff;
	}
	#order .headerFooter > div:nth-child(2) {
		width: 205px;
		text-align: center;
	}
	#order .headerFooter > div:last-child {
		text-align: center;
		padding-left: 40px;
	}
	/*温馨提醒*/
	#order .reminder {
		margin-top: 30px;
		color: #999;
	}
	#order .reminder > span {
		font-size: 16px;
		color: rgb(25,182,255);
	}
	#order .reminder > p {
		border-top: 1px solid rgb(25,182,255);
		height: 125px;
	}
	/*服务内容*/
	#order .serviceBox {
		margin-top: 30px;
		color: #999;
	}
	#order .serviceBox > span {
		font-size: 16px;
		color: rgb(25,182,255);
	}
	#order .serviceClass {
		border-top:1px solid rgb(25,182,255);
	}
	#order .inb {
		display: inline-block;
	}
	#order .serviceClass > div > div {
		margin-left: 30px;
	}
	#order .serviceAmount {
		margin-top: 20px;
	}
	#order .serviceAmount > div > input {
		width: 98px;
		height: 30px;
		margin-left: 30px;
	}
	#order .serviceBox textarea {
		width: 100%;
		margin-top: 20px;
		height: 130px;
		outline: none;
	}
	#order .serviceBox > div:last-child > img:not(:first-child) {
		margin-left: 8px;
	}
	/*支付方式*/
	#order .paymentBox {
		margin-top: 38px;
	}
	#order .paymentBox > span {
		font-size: 16px;
		color: rgb(25,182,255);
	}
	#order .payment {
		border-top:1px solid rgb(25,182,255);
		padding: 30px 20px;
		color: #999;
	}
	#order .payment > div:first-child > i {
		color: rgb(255,136,0);
	}
	#order .black {
		color: rgb(66,66,66);
	}
	#order .payment > div:nth-child(2) {
		margin-top: 20px;
		margin-left: 35px;
	}
	#order .payment > div:nth-child(2) > input {
		color: rgb(58,193,255);
		border-color: rgb(58,193,255);
		outline: none;
	}
	#order .payment > div:nth-child(3) {
		margin-top: 25px;
	}
	#order .orange {
		color: rgb(255,136,0);
	}
	#order .roseRed {
		color: rgb(244,78,78);
	}
	/*剩余金额支付方式*/
	#order .payFor {
		margin-top: 30px;
		border-top: 5px solid rgb(204,204,204);
	}
	#order .payFor > span {
		margin-top: 15px;
	}
	#order .payFor > div {
		margin-left: 35px;
		border: 1px solid #ccc;
		height: 50px;
		width: 798px;
		border-radius: 4px;
		margin-top: 10px;
		font-size: 20px;
	}
	#order .payFor > div > input {
		display: inline-block;
		float: left;
		margin:18px 10px 18px 10px;
		outline: none;
	}
	#order .payFor > div > i {
		display: inline-block;
		margin-top: 13px;
		margin-bottom: 13px;
		margin-right: 0;
	}
	#order .payFor > div > label {
		display: inline-block;
		margin-top: 11px;
		margin-bottom: 11px;
	}
	/*按钮*/
	#order .btnFooter {
		text-align: center;
	}
	#order .btnFooter .btn {	
		width: 118px;
		height: 40px;
		font-size: 20px;
	}
	#order .btnFooter .btn:first-child {
		background-color: #32beff;
		margin-right: 100px;
	}