<style type="text/css">

/*	.cen{margin: 0 auto;}
	.fl{float: left;}
	.fr{float:right;}
	.f12{font-size: 12px;}
	.workerBox{width: 1130px;margin-top:88px!important; }
	.headerBox{width: 100%;height: 510px;}
	.headerPic{width: 318px;height: 318px;border:1px solid #ccc;margin-top: 30px;}
	.headerPic img{width: 100%;height: 100;}
	.headerDetail{width: 760px;height: 318px;margin:30px 0 0 20px;}
	.userNameBox{width: 100%;}
	p.userName{font-size: 18px;color: #424242;font-weight: bold;margin-right: 20px;}
	p.userInfo{border-right:1px solid #999;color: #999;font-size: 12px;padding: 0 10px;margin-top: 3px;}
	.shoreBox{width: 100%;height: 56px;}
	.shoreBox p{margin-top: 8px;cursor: pointer;}
	.shoreBox p:nth-child(1){margin-left: 217px;margin-right: 10px;}
	.headerbottom{width: 100%;height: 86px;border:1px solid #ccc;border-radius: 4px;}
	.headerbottom p{color: #32beff;margin: 8px 0 0 8px;}
	.headerbottom img{width: 30px;height: 30px;border:1px solid #ccc;border-radius: 4px;cursor: pointer;}
	.renzhenBox{position: relative;margin-top: 15px;margin-left: 8px; }
	.talkBox{width: 66px;height: 27px;background: url('images/worker/talkBg.png');position: absolute;left: 10px;top: 33px;font-size: 12px;text-align:center;line-height: 34px;}
	.workerService{width: 100%;margin-top: 10px;}
	.workerService_l{border-right:1px solid #e5e5e5;padding-right: 25px;}
	p.serviceItem{color: #808080;margin-top: 5px;}
	.pingfen{margin-top: 22px;}
	p.pingfen span{padding:0 10px 0 2px;vertical-align: -2px;color: #999;}
	.workerService_r{padding-left: 30px;}
	p.rankBox{color: #808080;margin-bottom: 22px;margin-top: 5px;}
	p.rankBox span{}
	p.rankBox img{margin: 0 2px 0 8px;vertical-align: 0px;}
	.prince{width: 147px;height: 43px;border-radius: 4px;background: #32beff;color:#fff;font-size:18px;line-height:43px;text-align:center;cursor:pointer;}
	p.princetext{font-size: 14px;color: #fff; margin: 10px 0 0 20px;border-right: 1px solid #fff;padding-right: 10px;}
	p.princetext span{font-size: 18px;}
	
	p.telephone{color: #808080;margin: 10px 0 0 25px;}
	p.telephone span{background: #808080;color: #fff;padding: 5px;border-radius: 4px;cursor: pointer;}
	.slideBox{width: 100%;height: 119px;/*background: red;*//*margin-top: 25px;}
	/* 效果CSS开始 */
/*	.slideBox #zsgun{position:relative;height:inherit; width:100%; margin:auto;overflow: hidden;}
	.slideBox a.hScrollPane_leftarrow{top:0px; cursor:pointer; display:block; width:14px; height:119px; background:url('images/worker/left.png') no-repeat;left:0px; position:absolute;border:1px solid #ccc;}
	
	.slideBox a.hScrollPane_rightarrow{ top:0px; cursor:pointer; display:block; width:14px; height:119px; background:url('images/worker/right.png') no-repeat; right:0px; position:absolute;border:1px solid #ccc;}
	.slideBox #gundiv{ width:97%; position:relative; margin-left:-12px; padding-top:22px; float:left; display:inline;height:119px; overflow:hidden;}
	.slideBox #gundiv ul {height:117px;position: absolute; width:10000px;bottom:-8px;}
	.slideBox #gundiv li{ width:117; height:117; overflow:hidden; float:left; margin-right:17px;position:relative; border:1px solid #ccc;}
	
	/* 效果CSS结束 */

/*	.contentBox{width: 100%;}
	.contentBox .content{width: 850px;}
	.contentBox .map{width: 300px;}
	.contentBox .serviceControduce{width:850;}
	.serviceControduce .services{width:31.8%;height:300px;margin:15px 6px 0 6px;border-bottom:1px solid #ccc;}
	.serviceControduce .services img{width:100%;height:150px;border:1px solid #ccc;}
	.serviceControduce .services p:nth-child(2){margin-top:10px;font-size:16px;}
	.serviceControduce .services p:nth-child(3){color:#999;}
	.serviceControduce .services p:nth-child(4){color:#32beff;}
	.serviceControduce .services p:nth-child(4) span{font-size:22px;}
	.contentFirst{position: relative;}
	.workerTab{width: 100%;height: 50px;border-bottom:1px solid #32beff;}
	.workerUl{margin: 0;padding:0;list-style: none;}
	.workerUl li{float: left;width: 180px;height: 50px;text-align: center;line-height: 50px;cursor: pointer;color: #000;font-size: 16px;}
	.active1{background-color: #32beff;color: #fff!important;}
	/*评论上图样式*/
/*	.contentFirst .popDiv{height: 300px!important;width: 850px!important;background:#f9fbf6;margin-top:15px;}
	.popDiv .headPic{width:59px;height:59px;border:1px solid #ccc;position:absolute;top:4px;left:20px;}
	.popDivuserName{width:59px;position:absolute;top:85px;left:22px;color:#32beff;}
	.contentFirst .popDiv button{width:102px;height: 36px;line-height: 36px;border: none;color: #fff;border-radius: 4px;}
	.contentFirst .popConfirm{background-color: #32beff;cursor: pointer;margin:160px 20px 0 0;}
  	.contentFirst .setScore ul{list-style: none;position: relative;height: 20px;width: 170px; top:23px;left:100px;}
  	.contentFirst .setScore ul li{width: 23px;height: 16px; float: left;background: url('images/myOrder/star.png') no-repeat 0 -16px;}
  	.contentFirst .star{background: url('images/myOrder/star.png') no-repeat 0 0px!important;}
  	.contentFirst .setScore span:nth-child(1){position:absolute;top:20px;left: 100px; }
  	.contentFirst .content-title{position:absolute;top:100px;left: 50px; }
  	.contentFirst .setScore p{position:absolute;top:20px;left: 260px;color: #fd718e; }
  	.contentFirst .content-area{width:750px;height:120px;position: absolute;top: 55px;left:96px; padding: 10px;resize: none; font: none!important;line-height: normal;overflow: visible;outline: none;}

  	.contentFirst #imgesFilesAuto{width:auto;height:98px; margin:160px 0 0 96px;float:left;}
  	.contentFirst #imagesBox{width:auto;height:98px;float:left;cursor: pointer;}
  	.contentFirst #imagesBox img{width:98px;height:98px;float:left;cursor: pointer;border:1px solid #ccc;margin-right: 6px;}
  	.contentFirst #imgesFiles{width:98px;height:98px;float:left;position:relative;border:1px dashed #ccc;cursor: pointer;}
  	.contentFirst #imgesFiles span{position:absolute;font-size:80px;display:block;width:98px;text-align:center;height:98px;color:#CCC;cursor: pointer;line-height: 87px;font-weight: lighter;}
  	.popDiv1{background:#f9fbf6;}
  	.contentBody{overflow:hidden;border-bottom:1px solid #ccc;padding:20px 0 30px 0;}
  	.contentBodyLeft{width:80px;}
  	.contentBodyLeft .headPic1{width:59px;height:59px;border:1px solid #ccc;margin-left:20px;}
  	.contentBodyLeft .popDivuserName1{width:59px;color:#32beff;margin-left:20px;}
  	.contentBodyRight{width:770px;padding-left:20px;}
  	.contentBodyRight .setScore1 ul{list-style: none;height: 20px;width: 170px; margin:3px 0 0 -42px;}
  	.contentBodyRight .setScore1 ul li{width: 23px;height: 16px; float: left;background: url('images/myOrder/star.png') no-repeat 0 0px;}
  	.contentBodyRight .setScore1 p{color: #fd718e; padding-right:60px;}
  	.contentBodyRight .setScore1 p span{color:#999;}
  	.contentBodyRight .reply{width:100%;background:#f5f5f5;padding:20px;}
  	.contentBodyRight .reply p span{color:#52a5cc;}
  	.contentBodyRight .replayPic{}
  	.workerInfo{width:850px;}
  	.workerInfo .biaoge{width:850px;margin-top:30px;}
  	.workerInfo .detailInfo h4{border-bottom:5px solid #a6e3ff;padding-bottom:5px;}
  	.workerInfo .detailInfo p{padding:5px 0 5px 0;border-bottom:1px solid #f0f0f0;font-weight:bold;}
  	.workerInfo .detailInfo p span{font-weight:normal;}*/
</style>
<div id="bossIndex">
	<div class="workerBox cen">
		<div class="headerBox">
			<div class="headerPic fl">
				<img src="images/worker/score.png">
			</div>
			<div class="headerDetail fl">
				<div class="userNameBox fl">
					<p class="userName fl">杰威尔厨卫有限公司</p>
				</div>
				<div class="workerService fl">
					<div class="workerService_l fl">
						<p class="serviceItem">服务内容：小时工、保姆、月嫂</p>
						<p class="pingfen"><img src="images/worker/good.png"><span>9999</span><img src="images/worker/star.png"><span>9999</span><img src="images/worker/score.png"><span>4.5</span></p>
					</div>
					<div class="workerService_r fl">
						<p class="rankBox">已接订单220单<img src="images/worker/rank.png" alt=""><span>70%</span></p>
						<p class="rankBox">已接订单220单<img src="images/worker/rank.png" alt=""><span>70%</span></p>
					</div>
				</div>
				<div class="princeBox fl">
					<div class="prince fl">
						立即下单
					</div>
					<p class="telephone fl">联系电话:15465654214 <span>查看完整号码</span></p>
				</div>
				<div class="slideBox fl">
					<div id="zsgun">
				
						<div id="gundiv" class="container2">
							<ul>
								<li><img src="images/worker/star.png" alt="" width="117" height="117"/></li>
								<li><img src="images/worker/star.png" alt="" width="117" height="117"/></li>
								<li><img src="images/worker/star.png" alt="" width="117" height="117"/></li>
								<li><img src="images/worker/star.png" alt="" width="117" height="117"/></li>
								<li><img src="images/worker/star.png" alt="" width="117" height="117"/></li>
								<li><img src="images/worker/star.png" alt="" width="117" height="117"/></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="shoreBox fl">
				<p class="fl f12"><img src="images/worker/bad.png">举报</p>
				<p class="fl f12"><img src="images/worker/shore.png">分享</p>
			</div>
			<div class="headerbottom fl">
				<p class="f12">认证信息</p>
				<div class="renzhenBox fl" ng-mouseenter="show = true" ng-mouseleave="show = false">
					<img src="images/worker/score.png">
					<div ng-show="show" class="talkBox">这是sb</div>
				</div>
				<div class="renzhenBox fl" ng-mouseenter="show = true" ng-mouseleave="show = false">
					<img src="images/worker/score.png">
					<div ng-show="show" class="talkBox">这是sb</div>
				</div>
				<div class="renzhenBox fl" ng-mouseenter="show = true" ng-mouseleave="show = false">
					<img src="images/worker/score.png">
					<div ng-show="show" class="talkBox">这是sb</div>
				</div>
			</div>
		</div>
		<div class="contentBox">		
			<div class="content">
				<div class="workerTab">
					<ul class="workerUl" >
						<li class="active1" ng-click="toggle()">服务介绍</li>
					  	<li  ng-click="toggle1()">用户评价(250)</li>
					  	<li ng-click="toggle2()">个人信息</li>
				   	</ul>	
				</div>
				<div class="serviceControduce" ng-show = "infoshow">
					<div class="services fl">
						<img src="images/worker/score.png" alt="">
						<p>新房开荒</p>
						<p>提供新房开荒服务，包括地板、橱柜、天花板等难清理区域。适用于新房入住或者旧房重新装修。</p>
						<p>¥<span>50</span>/小时</p>
					</div>
					<div class="services fl">
						<img src="images/worker/score.png" alt="">
						<p>新房开荒</p>
						<p>提供新房开荒服务，包括地板、橱柜、天花板等难清理区域。适用于新房入住或者旧房重新装修。</p>
						<p>¥<span>50</span>/小时</p>
					</div>
					<div class="services fl">
						<img src="images/worker/score.png" alt="">
						<p>新房开荒</p>
						<p>提供新房开荒服务，包括地板、橱柜、天花板等难清理区域。适用于新房入住或者旧房重新装修。</p>
						<p>¥<span>50</span>/小时</p>
					</div>
					<div class="services fl">
						<img src="images/worker/score.png" alt="">
						<p>新房开荒</p>
						<p>提供新房开荒服务，包括地板、橱柜、天花板等难清理区域。适用于新房入住或者旧房重新装修。</p>
						<p>¥<span>50</span>/小时</p>
					</div>
					<div class="services fl">
						<img src="images/worker/score.png" alt="">
						<p>新房开荒</p>
						<p>提供新房开荒服务，包括地板、橱柜、天花板等难清理区域。适用于新房入住或者旧房重新装修。</p>
						<p>¥<span>50</span>/小时</p>
					</div>
				</div>
				<div class="contentFirst" ng-show = "infoshow1">
					<div class="popDiv">
					   <img class="headPic" src="images/worker/score.png" alt="">  
					   <p class="popDivuserName">家奶和鲁大</p>
					   <div class="setScore">
					      <span>评分:</span>
					      <ul>
					        <li></li>
					        <li></li>
					        <li></li>
					        <li></li>
					        <li></li>
					      </ul>
					      <p>0分</p>				   
					   <textarea class="content-area" name="" placeholder="请输入评论内容(至多200字)..."></textarea>
					   </div>
					    <div id="imgesFilesAuto" style="">
					       <div id="imagesBox"></div>
					       <div id="imgesFiles">
					          <span>+</span>
					          <input type="file" name="photoimage" id="uploadImage" multiple="multiple" style="width:98px; height:98px;opacity:0;" accept="image/gif, image/jpeg"/>
					       </div>				       				       					       
					    </div>
					    <button type="button" class="popConfirm fr">发表</button>
					</div>
					<div class="popDiv1">
						<div class="contentBody">
							<div class="contentBodyLeft fl">
								<img class="headPic1" src="images/worker/score.png" alt=""> 
								<p class="popDivuserName1">家奶和鲁大</p> 
							</div>
							<div class="contentBodyRight fl">
								<div class="setScore1">
							      <ul class="fl">
							        <li></li>
							        <li></li>
							        <li></li>
							        <li></li>
							        <li></li>
							      </ul>
							      <p>0分<span class="fr">2016-05-06 13:20</span></p>				   
							   </div>
							   <p class=>评论什么的就写点吧。写点就行了。写那么多有什么用？擦脸给你嘿哟</p>
							   <div class="reply fl">
							   		<p>客服回复: <span>评论什么的就写点吧。写点就行了。写那么多有什么用？擦脸给你嘿哟评论什么的就写点吧吧
	那么多有什么用？擦脸给你嘿哟用？擦脸给你嘿哟</span> </p>
								<p class="replayPic fr"> <img src="images/worker/reply.png" alt="">回复</p>
							   </div>
							</div>
						</div>
						<div class="contentBody">
							<div class="contentBodyLeft fl">
								<img class="headPic1" src="images/worker/score.png" alt=""> 
								<p class="popDivuserName1">家奶和鲁大</p> 
							</div>
							<div class="contentBodyRight fl">
								<div class="setScore1">
							      <ul class="fl">
							        <li></li>
							        <li></li>
							        <li></li>
							        <li></li>
							        <li></li>
							      </ul>
							      <p>0分<span class="fr">2016-05-06 13:20</span></p>				   
							   </div>
							   <p class=>评论什么的就写点吧。写点就行了。写那么多有什么用？擦脸给你嘿哟</p>
							   <div class="reply fl" style="display:none;">
							   		<p>客服回复: <span>评论什么的就写点吧。写点就行了。写那么多有什么用？擦脸给你嘿哟评论什么的就写点吧吧
	那么多有什么用？擦脸给你嘿哟用？擦脸给你嘿哟</span> </p>
								<p class="replayPic fr"> <img src="images/worker/reply.png" alt="">回复</p>
							   </div>
							</div>
						</div>					
					</div>
				</div>
			</div>
			<div class="workerInfo" ng-show = "infoshow2">
				<div class="table-responsive biaoge">
				  <table class="table table-bordered">
				    <tbody>
				    	<tr>
				    		<td>工号GR250151</td>
				    		<td>籍贯:浙江省东阳市</td>
				    		<td>从业年限：4年</td>
				    		<td>学历：高中</td>
				    	</tr>
				    	<tr>
				    		<td>爱好：无</td>
				    		<td>身高：162cm</td>
				    		<td>体重：52kg</td>
				    		<td>血型：B型</td>
				    	</tr>
				    	<tr>
				    		<td>星座：巨蟹座</td>
				    		<td>普通话：流畅</td>
				    		<td></td>
				    		<td></td>
				    	</tr>
				    </tbody>
				  </table>
				</div>
				<div class="detailInfo">
					<h4>详细资料</h4>	
					<p>个性签名：<span>勤勤恳恳</span></p>	
					<p>服务类别：<span>小时工、家政、月嫂</span></p>	
					<p>服务时间：<span>周一至周六，8：00</span></p>	
					<p>居住地址：<span>杭州市江干区迪凯国际中心25B</span></p>	
					<p>服务范围：<span>5公里内</span></p>	
					<p>介绍：<span>勤勤恳恳</span></p>	
					<p>工作经历：<span>勤勤恳勤勤恳恳勤勤恳恳恳</span></p>	
				</div>
			</div>
			<div class="map">
				
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$(function() {
		var glen = $("#gundiv ul li").length;
		$("#gundiv ul").css("width",172 * (glen));
		$("#gundiv li").hover(function(){$("#gundiv li").removeClass("zslion");$(this).addClass("zslion");},function(){$(this).removeClass("zslion");})
		});
		$("#zsgun").hScrollPane({
			mover:"ul",
			moverW:function(){return $("#zsgun li").length*172-17;}(),
			showArrow:true,
			handleCssAlter:"draghandlealter"
		});
		$('.workerUl li').click(function(){
			$(this).addClass('active1').siblings().removeClass('active1').css('color','#000');
		})

		    $('.setScore ul li').click(function(){
      var score = $(this).index() + 1;
      if(!$(this).hasClass('star')){
        $(this).addClass('star');
        $(this).prevAll().addClass('star');
        $(this).nextAll().removeClass('star');
      }else{       
        $(this).nextAll().removeClass('star');
      }
      $('.setScore p').html(score+'分');
    })

        //alert($('#imgesFiles img').length);
        var result = document.getElementById("imagesBox");
        var input = document.getElementById("uploadImage");

        if(typeof FileReader === 'undefined'){
            result.innerHTML = "<p class='warn'>抱歉，你的浏览器不支持 FileReader</p>";
            input.setAttribute('disabled','disabled');
        }else{

            input.addEventListener('change',readFile,false);
        }
         
        function readFile(){            
              for(var i=0;i<this.files.length;i++)
              {
                  if(this.files.length < 5){
                    var file = this.files[i];
                    if(!/image\/\w+/.test(file.type)){
                        alert("请确保文件为图像类型");
                        return false;
                    }
                    var reader = new FileReader();
                    reader.readAsDataURL(file);                    
                    reader.onload = function(e){                        
                        result.innerHTML+= '<img src="'+this.result+'" alt=""/>';
                    }  
                  }else if(this.files.length == 5){
                    var file = this.files[i];
                    if(!/image\/\w+/.test(file.type)){
                        alert("请确保文件为图像类型");
                        return false;
                    }
                    var reader = new FileReader();
                    reader.readAsDataURL(file);                    
                    reader.onload = function(e){                        
                        result.innerHTML+= '<img src="'+this.result+'" alt=""/>';                                               
                    }                   
                      $('#imgesFiles').hide();
                  }
             }

            
        }



	})
</script>